<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<main layout:fragment="content">
    <section class="hero">
        <div class="container text-center py-5">
            <h1 class="display-4" th:text="#{index.Welcome}">Welcome to BoredReader</h1>
            <p class="lead" th:text="#{index.describe}">Collection of books and characters for not getting bored ;)</p>
            <a href="/catalog" class="btn btn-primary btn-lg" th:text="#{index.button}">Explore Library</a>
        </div>
    </section>

    <section class="container py-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 book-card">
                    <div class="card-body text-center">

                        <h3 class="card-title" th:text="#{index.card1Title}">fun Library</h3>
                        <p class="card-text" th:text="#{index.card1Describe}">you will find here some enjoyable(or not 👀) books.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 book-card">
                    <div class="card-body text-center">

                        <h3 class="card-title" th:text="#{index.card2Title}">AI Assistants imitating characters </h3>
                        <p class="card-text" th:text="#{index.card2Describe}">get ready to chat with your beloved main characters.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 book-card">
                    <div class="card-body text-center">

                        <h3 class="card-title" th:text="#{index.card3Title}">Read Anywhere</h3>
                        <p class="card-text" th:text="#{index.card3Describe}">Enjoy your books and characters wherever you go.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>