<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">BoredReader</title>

    <!-- Shared Resources -->
    <link rel="icon" th:href="@{../static/assets/images/logo.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.7.2/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Header -->
<header th:replace="~{fragment/header :: header}"></header>

<!-- Main Content -->
<main layout:fragment="content" class="flex-grow-1"></main>

<!-- Footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>

<!-- Shared Scripts -->
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>